<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd has-text-centered-mobile">
                    <figure class="image is-128x128" style="margin: auto;">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen has-text-centered-mobile">
                    <p class="is-size-5-desktop">{{site.author-about}}</p>
                    <br>
                    <div class="buttons is-centered-mobile is-left-desktop">
                        <a href="{{site.url}}{{site.baseurl}}/#contact"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Contact
                            Me</a>
                        <a href="{{site.url}}{{site.baseurl}}/blog"
                            class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Blog</a>
                    </div>
                </div>
            </div>
        </div>
</section>