<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-black mb-6">
                Contact Me
            </h1>
            <h2 class="subtitle is-4 has-text-grey mb-6">
                Feel free to reach out through any of the following ways
            </h2>
            
            <!-- Email Contact Button -->
            {% unless site.email == %}
            <div class="columns is-centered mb-4">
                <div class="column is-half">
                    <a href="mailto:{{site.email}}"
                        class="button is-large is-fullwidth is-rounded is-black is-outlined has-text-weight-semibold"
                        target="_blank">
                        <span class="icon is-medium">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span>Send me an Email</span>
                    </a>
                </div>
            </div>
            {% endunless %}
            
            <hr class="my-6">
            
            <!-- Social Media Icons Section -->
            <h3 class="title is-4 has-text-weight-semibold has-text-black mb-5">
                Find Me On These Platforms
            </h3>
            
            <div class="columns is-centered is-mobile is-multiline">
                {% unless site.github_username == %}
                <div class="column is-narrow">
                    <a href="https://github.com/{{site.github_username}}" 
                       target="_blank" 
                       class="button is-large is-white"
                       title="GitHub">
                        <span class="icon is-large has-text-black">
                            <i class="fab fa-github fa-2x"></i>
                        </span>
                    </a>
                    <p class="has-text-weight-semibold mt-2">GitHub</p>
                </div>
                {% endunless %}
                
                {% unless site.xiaohongshu_username == %}
                <div class="column is-narrow">
                    <a href="https://www.xiaohongshu.com/user/profile/{{site.xiaohongshu_username}}" 
                       target="_blank" 
                       class="button is-large is-white"
                       title="Xiaohongshu">
                        <span class="icon is-large has-text-danger">
                            <i class="fas fa-book fa-2x"></i>
                        </span>
                    </a>
                    <p class="has-text-weight-semibold mt-2">Xiaohongshu</p>
                </div>
                {% endunless %}
                
                {% unless site.bilibili_uid == %}
                <div class="column is-narrow">
                    <a href="https://space.bilibili.com/{{site.bilibili_uid}}" 
                       target="_blank" 
                       class="button is-large is-white"
                       title="Bilibili">
                        <span class="icon is-large has-text-info">
                            <i class="fas fa-tv fa-2x"></i>
                        </span>
                    </a>
                    <p class="has-text-weight-semibold mt-2">Bilibili</p>
                </div>
                {% endunless %}
                
                {% unless site.email == %}
                <div class="column is-narrow">
                    <a href="mailto:{{site.email}}" 
                       target="_blank" 
                       class="button is-large is-white"
                       title="Email">
                        <span class="icon is-large has-text-grey-dark">
                            <i class="fas fa-envelope fa-2x"></i>
                        </span>
                    </a>
                    <p class="has-text-weight-semibold mt-2">Email</p>
                </div>
                {% endunless %}
            </div>
        </div>
    </div>
</section>
