<section class="hero is-fullheight has-text-centered" id="contact">
    <div class="hero-body">
        <div class="container reveal">
            <div class="columns is-centered">
                <div class="column is-8-desktop is-10-tablet">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-black mb-6">
                        Let's Connect
                    </h1>
                    
                    <div class="box has-background-white p-6 contact-box">
                        <h2 class="subtitle is-4 has-text-grey mb-5">
                            Feel free to reach out for collaborations or just a friendly hello!
                        </h2>
                        
                        <!-- Email Button -->
                        {% unless site.email == %}
                        <div class="mb-6">
                            <a href="mailto:{{site.email}}"
                                class="button is-black is-large is-rounded has-text-weight-semibold hover-lift"
                                target="_blank">
                                <span class="icon is-medium mr-2">
                                    <i class="fas fa-paper-plane"></i>
                                </span>
                                <span>Send me an Email</span>
                            </a>
                        </div>
                        {% endunless %}
                        
                        <div class="divider is-size-6 has-text-grey-light mb-6">OR FIND ME ON</div>
                        
                        <!-- Social Icons Grid -->
                        <div class="social-grid">
                            {% unless site.github_username == %}
                            <a href="https://github.com/{{site.github_username}}" target="_blank" class="social-item hover-lift" title="GitHub">
                                <span class="icon is-large has-text-black"><i class="fab fa-github fa-2x"></i></span>
                                <span class="social-name">GitHub</span>
                            </a>
                            {% endunless %}
                            
                            {% unless site.xiaohongshu_username == %}
                            <a href="https://www.xiaohongshu.com/user/profile/{{site.xiaohongshu_username}}" target="_blank" class="social-item hover-lift" title="Rednote">
                                <span class="icon is-large has-text-danger"><i class="fas fa-book fa-2x"></i></span>
                                <span class="social-name">Rednote</span>
                            </a>
                            {% endunless %}
                            
                            {% unless site.bilibili_uid == %}
                            <a href="https://space.bilibili.com/{{site.bilibili_uid}}" target="_blank" class="social-item hover-lift" title="Bilibili">
                                <span class="icon is-large has-text-info"><i class="fab fa-bilibili fa-2x"></i></span>
                                <span class="social-name">Bilibili</span>
                            </a>
                            {% endunless %}
                            
                            {% unless site.zhihu_username == %}
                            <a href="https://www.zhihu.com/people/{{site.zhihu_username}}" target="_blank" class="social-item hover-lift" title="Zhihu">
                                <span class="icon is-large has-text-primary"><i class="fab fa-zhihu fa-2x"></i></span>
                                <span class="social-name">Zhihu</span>
                            </a>
                            {% endunless %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    
            
            <style>
                @media screen and (min-width: 769px) {
                    #contact .social-icon-item {
                        flex: 0 0 calc(25% - 1.5rem) !important;
                    }
                }
            </style>
        </div>
    </div>
</section>