<footer id="footer">
    <!--Footer Button-->
    <div class="container has-text-centered has-background-grey-darker" id="backtotop">
        <a class="has-text-white" onclick="window.scroll(0,0)">BACK TO TOP</a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-grey-darker" style="padding: 2rem 1.5rem;">
        <div class="container">
            <div class="columns is-vcentered">
                <!--Name Section-->
                <div class="column is-one-third has-text-centered">
                    <a href="{{site.url}}{{site.baseurl}}/#about">
                        <figure class="image is-64x64" style="margin: 0 auto 0.5rem auto;">
                            <img class="is-rounded" src="{{site.author-image}}">
                        </figure>
                        <h5 class="has-text-grey-lighter" style="margin-bottom: 0.5rem;">{{site.author-name}}</h5>
                        <div class="content has-text-grey">
                            <p style="margin-bottom: 0;">{{site.author-about | truncate: 75 }}</p>
                        </div>
                    </a>
                </div>

                <!--Link Section-->
                <div class="column is-one-third has-text-white has-text-centered">
                    <h3 style="margin-bottom: 1rem;">More Links</h3>
                    <li style="list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 0.5rem;">
                        <a target="_blank" href="https://blog.csdn.net/m0_73672030">CSDN</a>
                    </li>
                    <li style="list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 0.5rem;">
                        <a target="_blank" href="https://datawhale.cn/">Datawhale</a>
                    </li>
                </div>

                <!--Blog-post Section-->
                <div class="column is-one-third has-text-white has-text-centered">
                    <h3 style="margin-bottom: 1rem;">Recent Posts</h3>
                    {% for post in site.posts offset: 0 limit:3 %}
                    <li style="list-style: none; margin-left: 0; padding-left: 0; margin-bottom: 0.5rem;">
                        <a href="{{post.url | absolute_url}}">{{post.title}}</a>
                    </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="has-background-black has-text-centered has-text-white" id="credits" style="padding: 1rem;">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} | By {{site.author-name}}
    </div>
    
    <!-- 移动端响应式 -->
    <style>
        @media screen and (max-width: 768px) {
            #footer .columns {
                display: flex;
                flex-direction: column;
            }
            #footer .column {
                width: 100% !important;
                flex: none !important;
                margin-bottom: 2rem;
            }
        }
    </style>
</footer>