<div class="field has-addons has-text-weight-medium has-text-grey">
    <p class="control is-expanded">
        <input id="search" 
               class="input is-shadowless is-uppercase has-text-grey has-text-weight-normal" 
               type="text"
               placeholder="Search here..." 
               autocomplete="off">
    </p>
    <p class="control">
        <button class="button is-static" title="Search">
            <i class="fas fa-search has-text-grey"></i>
        </button>
    </p>
</div>